@media screen and (max-width:984px) {
    #login-btn{
        display: none;
    }
    #home-btn{
        display: none;
    }
    .nav-item{
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width:985px) {
    #menu-btn{
        display: none;
    }
    #mobile-view-nav{
        visibility: hidden;
    }

}

@media screen and (max-width:673px) {
    #f-lcontainer{
        display: block;
    }
    #f-lcontainer .left{
        width: 100%;
    }
    #f-lcontainer .right{
        width: 100%;
    }

}
@media screen and (max-width:855px) {
    .f-in{
        display: block;
    }

}
@media screen and (max-width:820px) {
    .data-in{
        display: block;
    }
    .ex-container{
        margin: 40px 20px;
        padding: 50px;
    }

}
@media screen and (min-width:420px) and (max-width:548px) {
    .all-right{
        padding: 10px;
    }
}
@media screen and (max-width:420px){
    .all-right{
        display: block
    }
    .all-right div{
        margin: 20px;
    }

}
@media screen and (max-width:408px){
    .new-logo{
        position: relative;
        bottom: 35px;
        left: 200px;
    }
    .menu-active{
        position: absolute;
    }
    #main-mobile-view{
        width: 100%;
    }
}
@media screen and (max-width:700px){
    #courses{
        display: block;
    }
    .course-right, .course-left{
        width: 100%;
        margin: 20px 0px;
    }
}
@media screen and (max-width:364px){
    .new-logo{
        position: relative;
        bottom: 35px;
        left: 130px;
    }
}
@media screen and (max-width:1184px){
    .box{
        width: 100%;
    }
}
@media screen and (max-width:334px){
    #mobile-view-nav{
        padding: 0px;
    }
}

@media screen and (max-width: 444px) {
    #data{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: 2px solid red; */
    }
    #f-mail-text{
        font-size: 10px;
    }
}
@media screen and (max-width:503px) {
    .landing-btn{
        padding: 10px;
    }
}
@media screen and (max-width:738px) {
    .s-heading{
        font-size: 30px;
    }
}


