:root{
    --main-nav-font : Montserrat;
    --main-font-weight : 700;
    --main-color : #FFFFFF;
    --main-bgcolor : #FF7B52;
    --btn-color : #8D5CF6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-nav-font);
    font-weight: var(--main-font-weight);
}
.s-font{
    font-size: 14px;
}
.s-weight{
    font-weight: 400;
}
.h-font{
    font-size: 24px;
}
.h-weight{
    font-weight: 700;
}

/* NavBar Styling Started */
#first{
    background-color: var(--main-bgcolor);
}
.nav-bar{
    display: flex;
}
.flex{
    display: flex;
}
.center{
    justify-content: center;  
}
#main-container{
    width: 90%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--main-color);
    margin: auto;
}
#brand-name{
    font-size: 24px;
    cursor: pointer;
}
#nav-container{
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.nav-item{
    list-style-type: none;
    padding:20px 30px;
}
a{
    text-decoration: none;
    color: var(--main-color);
}
.login{
    text-shadow:
     -1px -1px 0 #2A7CC7,  
      1px -1px 0 #2A7CC7,
      -1px 1px 0 #2A7CC7,
       1px 1px 0 #2A7CC7;
}
#join{
    background-color: var(--btn-color);
    cursor: pointer;
    border-radius: 9px;
}
#menu-btn{
    font-size: 1.7rem;
}
.menu-active{
    position: absolute;
}
.menu-show{
    visibility: hidden;
}
#main-mobile-view{
    min-width: 300px;
    border: 3px solid green;
    display: flex;
    flex-direction: column;
    background-color: #375f9e;
    border-radius: 18px;
}
#mobile-view-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding:0px 20px;
}

.nav-item-effect:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #35059d;
    text-decoration-thickness: 4px;
    transition: 1s;
}


/* NavBar Styling Ended */



/* Main Page Styling Started */
#landing-container{
    color: var(--main-color);
}
#f-lcontainer{
    display: flex;
    width: 80%;
    margin: 50px auto;
}
.right{
    width : 50%;
    height: 620px;
    padding-top: 80px;
}
.left{
    width : 50%;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin : 30px 0;
}
left
.f-heading{
    font-weight: 700;
    font-size: 16px;
}

.s-heading{
    font-weight: 700;
    font-size: 58px;
}

.t-heading{
    font-weight: 400;
    font-size: 20px;
}
.landing-btn{
    background: none;   
    color: var(--main-color);
    padding: 22px 36px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid var(--btn-color);
    cursor: pointer;
    margin: 20px auto;
}
.blue{
    background-color: var(--btn-color);
}
.w-border{
    border: 1px solid var(--main-color);
}
.box-container{
    display: flex;
    width: 80%;
    margin : 60px auto;
    justify-content: space-between;
    position: relative;
    bottom: 150px;
    flex-wrap: wrap;
}
.box{
    min-height: 320px;
    width: 468px;
    padding:35px;
    margin: 20px 0px;
    background-color: var(--main-color);
    color : black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}
.hr-red{
    border : 1px solid #E74040;
    width: 50px;
}
.course-icon{
    height: 80px;
}
.gray-color{
    color : #737373;
}

/* Main Page Styling Ended */


/* Second Main Page Styling Started */
#second-page{
    background-color: #26335D;
    padding: 50px auto;
}
#data{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    font-weight: 700;
}
.data-in{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
#data div{
    margin: 20px 0;
}
#data h1{
    color: var(--btn-color);
    font-size: 58px;
}
#data p{
    font-size: 16px;
    color: var(--main-color)
}
#courses{
    width: 80%;
    margin: auto;
    display: flex;
}
.course-left{
    width: 50%;
    height: 250px;
    color: var(--main-color);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}
.course-left h2{
    font-size: 40px;
}
.course-left p{
    font-size: 16px;
    font-weight: 400;
}
.course-left span{
    color : var(--btn-color);
    font-size: 16px;
}
.course-right{
    width: 50%;
}
.hr-red-2{
    border : 3px solid #E74040;
    width: 95px;
}
.education{
    width: 80%;
    margin: 100px auto;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.education h2{
    font-size: 40px;
    font-weight: 700;
    color: var(--main-color);
}
.education p{
    font-size: 14px;
    font-weight: 400;
    color : var(--main-color);
}
.btn-clr{
    color: var(--btn-color);
}
.edu-container{
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.edu-box{
    width: 240px;
    margin: 20px auto;
}
.edu-box-inside{
    height: 300px;

}
.edu-box-in-one{
    background-image: url(./assets/product-cover-133\ sec-.png);
}
.edu-box-in-two{
    background-image: url(./assets/product-cover-131.png);
}
.edu-box-in-three{
    background-image: url(./assets/product-cover-130\ sec-.png);
}
.edu-box-in-fourth{
    background-image: url(./assets/product-cover-132\ sec-.png);
}
.sale{
    color: var(--main-color);
    background-color: #E74040;
    padding: 3px 8px;
    position: relative;
    top:22px;
    left: 22px;
}
#edu-icons{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    position: relative;
    top: 220px;
}
.edu-round-box{
    background-color: var(--main-color);
    border-radius: 50%;
    cursor: pointer;
}
.edu-fav-icon{
    height: 25px;
    margin: 10px;
}
.edu-box-inside-2{
    background-color: var(--main-color);
    padding: 30px 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.edu-box-inside-2 p{
    font-size: 400;
    font-size: 14px;
}
.edu-box-inside-2 h5{
    font-size: 700;
    font-size: 16px;
}
.edu-f{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.edu-f p{
    color: var(--main-color);
    background-color: #26335D;
    padding: 10px;
    border-radius: 18px;
}
.edu-s{
    display: flex;

}
.light-gray-color{
    color: #BDBDBD;
}
.orange-color{
    color: var(--main-bgcolor);
}
.btn-border{
    border: 2px solid var(--btn-color);
    padding: 13px;
    border-radius: 24px;
}
.edu-s{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.fix-arrow{
    display: flex;
    width: 80%;
    justify-content: space-around;
    cursor: pointer;
}
/* Second Main Page Styling Ended */


/* Watch Course Page Styling Started */
#watch-course{
    padding: 90px 0px;
}
.edu-watch-box{
    width: 325px;
    padding: 40px;
    background-color: var(--main-color);
    margin: 40px auto;
    justify-content: center;
}
.watch-course-feature{
    display: flex;
    align-items: center;
    margin: 15px 0px;
}
.try-free{
    display: flex;
    justify-content: center;
}
.watch-box-fix{
    margin: 30px 0px;
}
.btn-diff-clr{
    color: #8EC2F2;
}
.space-btw{
    display: flex;
    justify-content: space-between;
}
.heart{
    background-color: var(--btn-color);
    padding: 19px;
}
.b-50{
    display: inline-flex;
    border-radius: 50%;
    cursor: pointer;
    padding: 20px;
    background-color: var(--btn-color);
}
.b-50-2{
    display: inline-flex;
    border-radius: 50%;
    cursor: pointer;
    padding: 20px;
    background-color: var(--main-color);
}
.bg-green{
    background-color: #2DC071;
}
.new-logo{
    background-color: var(--main-bgcolor);
    color: var(--main-color);
    padding: 30px 25px;
    border-radius: 50%;
    position: relative;
    bottom: 35px;
    left: 240px;
}
.bg-voilet{
    background-color: var(--btn-color);
}
.clr-white{
    color: var(--main-color);
}
.bg-white{
    background-color: var(--main-color);
}
/* Watch Course Page Styling Ended */

/* Expert Page Styling Started */

#expert{
    padding: 90px 0px;
}
#ex-main{
    flex-wrap: wrap;
    justify-content: space-around;
}
.ex-container{
    padding: 70px;
    width: 750px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.expert-box-fix{
    margin: 20px 0px;
}
.border-round{
    border-radius: 50%;
}
#newsletter{
    width: 80%;
    margin: 40px auto;
    display: flex;
    align-items: center;
    color: var(--main-color);
    flex-direction: column;
}
.news-margin{
    margin: 15px 0px;
}
.main-news-heading{
    font-size: 40px;
    font-weight: 700;
}
#subscribe{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 100px 10px;
}
#subscribe input{
    height: 60px;
    width: 50%;
}
#sub-btn{
    color: var(--main-color);
    background-color: var(--btn-color);
    height: 60px;
    border: none;
    padding: 0px 20px;
    font-size: 14px;
    position: relative;
    right: 1px;
}
/* Expert Page Styling Ended */

/* Footer Styling Started */
#footer{
    display: flex;
    color: var(--main-color);
    justify-content: space-around;
    margin: 0px 20px;
}
.f-in{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.f-in-heading{
    margin: 20px 0px;
    size: 20px;
    
}
.fm{
    font-weight: bold;
    font-size: 22px;
}
.all-right{
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
}
.pointer{
    cursor: pointer;
}
.f-end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.f-margin{
    margin: 4px 2px;
}

/* Footer Styling Ended */

